<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acessar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acessar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

      <!-- <div class="card-container">
        <ion-card>
          <ion-row>
            <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg">
              <img
                src="../../assets/icon/icon.png"
                alt="Mais Bonus logo"
                loading="lazy"
              />
            </ion-col>
            <ion-col size-md="9" size="12" class="welcome">
              <ion-card-header>
                <ion-card-title>Bem-vindo ao +Bônus App</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-button (click)="login()" shape="round" color="primary"> Sign in </ion-button>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </div> -->

    <form [formGroup]="form">

      <ion-item>
        <ion-input label="Usuário (e-mail)" labelPlacement="floating" required name="username" formControlName="username" type="text"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of messages.username">
          <div class="error-message" *ngIf="form.get('username')?.hasError(validation.type) && (form.get('username')?.dirty || form.get('username')?.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-input label="Senha" labelPlacement="floating" required name="password" formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of messages.password">
          <div
            *ngIf="form.get('password')?.hasError(validation.type) && (form.get('password')?.dirty || form.get('password')?.touched)"
            class="error-message"
            >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-button
        [disabled]="form.get('password')?.invalid"
         expand="block" color="danger" type="submit"
         (click)="login()"
         >
        Entrar
      </ion-button>
    </form>

    <ion-item>
      <ion-label>Ainda não tem uma conta?</ion-label>
    </ion-item>

    <ion-item button color="primary" class="sign-up-button" (click)="signUp()">
      <ion-label>Cadastre-se</ion-label>
    </ion-item>

    <ion-toast
      [isOpen]="isToastOpen"
      message="Usuário e/ou senha inválido(s)"
      position="middle"
      [duration]="5000"
      (didDismiss)="setToastOpen(false)"
    ></ion-toast>

  </ion-content>
</ion-content>
