<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Carteira</ion-title>
    <ion-item class="logout" button (click)="logout()" slot="end">
      <ion-icon name="log-out-outline" class="logout"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carteira</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item-group>

      <ion-item>
        <ion-label>Saldo de Cashback</ion-label>
        <ion-text color="secondary">
          <h1>{{ balance | currency: 'BRL' }}</h1>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-buttons class="buttons">
          <ion-button class="button" fill="solid" slot="start" color="tertiary" (click)="redeem()">
            Resgatar
          </ion-button>
          <ion-button class="button" fill="solid" slot="end" color="primary" (click)="score()">
            Pontuar
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item-divider>
        <ion-label color="secondary">Extrato</ion-label>
      </ion-item-divider>

      <ion-item class="statement-item" *ngFor="let score of statement">
        <ion-text class="date">{{ score.timestamp | date:'short':'':'pt-BR' }}</ion-text>
        <ion-text>
          <ion-text>
            <p>{{ score.description }}</p>
          </ion-text>
          <ion-text class="score-amount-details" [color]="score.cashbackAmount > 0 ? 'success' : 'danger'">
            <p>{{ score.cashbackAmount | currency : 'BRL' }}</p>
            <p *ngIf="score.purchaseAmount" class="purchase-amount">({{ score.purchaseAmount | currency : 'BRL' }})</p>
          </ion-text>
        </ion-text>
      </ion-item>
    </ion-item-group>
  </ion-content>
</ion-content>
