<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="wallet" href="/tabs/wallet" *ngIf="userRole === 'CUSTOMER'">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Carteira</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cashback" href="/tabs/cashback" *ngIf="userRole === 'COMPANY'">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Cashback</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discounts" href="/tabs/discounts">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Promoções e cupons</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-profile" href="/tabs/user-profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
