.redeem-code {
  text-align: center;
  font-size: xx-large;
  color: white;
}

.redeem-code-title {
  text-align: center;
}

.code-input {
  font-size: xx-large;
}

.validation-errors {
  color: var(--ion-color-danger);
  font-size: small;
}
