.input {
  font-size: xx-large;
  color: white;
  margin-bottom: 0.5em;
}

.description-input {
  font-size: large;
  color: white;
  margin-bottom: 0.5em;
}

.label {
  font-size: large;
  color: white;
}

.validation-errors {
  color: var(--ion-color-danger);
  font-size: small;
}
